@media (min-width: 768px) {
  .container {
    max-width: 1025px;
    margin: auto auto;
    text-align: center;
    margin-top: 6rem;
  }
}

@media (max-width: 767px) {
  .content_container {
    flex-direction: column;
    gap: 4rem;
  }
  .content img {
    width: 25.5rem;
    height: 34.25rem;
    border-radius: 4px;
  }
  .content {
    justify-content: center;
    align-items: center;
    display: inline;
    margin: 0 auto;
  }
  .product_name p:first-child {
    font-weight: 600;
    font-size: 2rem;
    margin-right: 5px;
  }
  .product_name p:nth-child(2) {
    font-size: 2rem;
    margin-right: 5px;
    margin-top: 1px;
  }
  .product_name p:last-child {
    font-weight: 400;
    font-size: 1.5rem;
  }
  .product_price p,
  .content button {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .content button {
    font-size: 1.5rem;
    width: 25.5rem;
    height: 2.6rem;
    font-weight: 400;
  }
}

@media (max-width: 415px) {
  .content img {
    width: 20.5rem;
    height: 30.25rem;
  }

  .product_name p:first-child {
    font-size: 1.4rem;
  }
  .product_name p:nth-child(2) {
    font-size: 2rem;
  }
  .product_name p:last-child {
    font-size: 1rem;
  }
  .product_price p,
  .content button {
    font-size: 1rem;
  }
  .content button {
    font-size: 1rem;
    width: 20.5rem;
    height: 2.4rem;
  }
}
